@inherits Microsoft.AspNetCore.Components.Forms.InputText

@inject IJSRuntime _jsRuntime

<div class="input-group w-100">
    <div class="form-floating flex-grow-1">
        <input @attributes="@AdditionalAttributes" class="form-control" placeholder="@Placeholder" id="input" @bind="@CurrentValueAsString"></input>
        <label for="password">@Label</label>
    </div>
    @if(!DisableGenerate)
    {
        <button class="btn btn-outline-secondary" type="button" @onclick="Generate"><img src="./css/feathericons/refresh-ccw-dark.svg" alt="Generated" /></button>
    }

    <button class="btn btn-outline-secondary" type="button" @onclick="Clear"><img src="./css/feathericons/x-dark.svg" alt="Clear" /></button>
    <button class="btn btn-outline-secondary" type="button" @onclick="CopyAsync"><img src="./css/feathericons/copy-dark.svg" alt="Copy to clipboard" /></button>
</div>



@code {

    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Placeholder { get; set; }
    [Parameter] public bool DisableGenerate { get; set; }

    private void Clear()
    {
        CurrentValueAsString = "";
    }

    private async Task CopyAsync()
    {
        await _jsRuntime.InvokeVoidAsync("copyToClipboard", CurrentValueAsString);
    }

    private void Generate()
    {
        CurrentValueAsString = "generated password";
    }
}